{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% block title %}{% endblock title %}Photo Album Sharing Service</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
	<link rel="stylesheet" href="{% static "css/style.css" %}">
	<script>
    FontAwesomeConfig = { searchPseudoElements: true };
	</script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
	{% block js_head %}{% endblock js_head %}
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>

  {% include "home/partials/navbar.html" %}
	{% block content %}{% endblock content %}
	{% block js_body %}{% endblock js_body %}

</body>
</html>
